/* app global css */
.bg-primary-color{
    background-color: #111111;
}
.bg-secondary-color{
    background-color: #1a1a1a;
}
.bg-blue-color{
    background-color: #0d6dea20;
}
.bg-green-color{
    background-color: #1ea61d20;
}
.bg-red-color{
    background-color: #d7223920;
}
.bg-yellow-color{
    background-color: #fecd0520;
}
.font-primary-color{
    color: #aaaaaa;
}
.font-secondary-color{
    color: #aaaaaa;
}
.primary-font{
    font-family: 'Plus Jakarta Sans', sans-serif;
}